%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 Bookmarklet
      %p.lead Instantly enable gesture control on any web application

.row
  = link_to 'Gesturize', @javascript, class:'btn btn-success btn-large span2'
  %p.span9(style='margin-top: 7px')
    &larr; Drag this button to your bookmarks bar